# Provedor do Banco de Dados ('firestore' ou 'supabase')
VITE_DB_PROVIDER=firestore

# Supabase (opcional se Firestore estiver ativo)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Firebase / Firestore (opcional em Cloud Run com ADC nativo)
FIREBASE_PROJECT_ID=
FIRESTORE_DATABASE_ID=

# Servidor Express
PORT=3000